@import "tailwindcss";

/* NavbarMain style */
.navbarmain {
  position: fixed;
  top: 0;
  z-index: 1000;
  /* margin-bottom: px; */
  background-color: white;
}

html {
  scroll-behavior: smooth;
}
