@import "tailwindcss";

/* NavbarMain style */
.navbarmain {
  position: fixed;
  top: 0;
  z-index: 1000;
  background-color: white;
}

nav {
  box-shadow: 2px 2px 12px 0 #4032851F!important;
}

html {
  scroll-behavior: smooth;
}

/* override background */
.MuiSelect-select.MuiInputBase-input, .MuiInputBase-input {
  background-color: white !important;
}
